#version=RHEL8
# Reboot after installation
reboot
# Use graphical install
graphical

repo --name="AppStream" --baseurl=https://download.rockylinux.org/pub/rocky/8.10/AppStream/x86_64/os

%packages
@^minimal-environment
kexec-tools
kexec-tools

%end

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8 --addsupport=zh_CN.UTF-8

# Network information
#network  --bootproto=static --device=ens3 --gateway=15.235.184.1 --ip=15.235.185.191 --nameserver=213.186.33.99 --netmask=255.255.255.255 --ipv6=auto --activate
network  --bootproto=dhcp --device=ens3 --ipv6=auto --activate
network  --hostname=hk2.qcloud

# Use network installation
url --url="https://download.rockylinux.org/pub/rocky/8.10/BaseOS/x86_64/os"

# Run the Setup Agent on first boot
firstboot --enable

ignoredisk --only-use=sda
# Partition clearing information
clearpart --all --initlabel
# Disk partitioning information
part /boot --fstype="ext4" --ondisk=sda --size=1024
part pv.158 --fstype="lvmpv" --ondisk=sda --size=19455
volgroup openeuler_vps-ad59e2eb --pesize=4096 pv.158
logvol swap --fstype="swap" --size=2047 --name=swap --vgname=openeuler_vps-ad59e2eb
logvol / --fstype="ext4" --grow --size=1024 --name=root --vgname=openeuler_vps-ad59e2eb

# System timezone
timezone Asia/Shanghai --isUtc

# Root password
rootpw --iscrypted $y$j9T$szw0tGA/bKTGhTy5r7QOhyVT$74Cf3vWEL954pOEtyuyqYodsvdw0eb1cKUw6my8j3O/

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
